body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background: url(./assets/img/bg-campo.png);
  background-size: cover;
}

.app {
  width: 65%;
  margin: 2rem auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #1a1f1b;

  padding: 2rem;

  border-bottom: 8px solid #f7dd43;
  border-radius: 0.5rem;
}

.app__titulo,
.app__cronometro {
  color: #f7dd43;
}

.titulo__imagem {
  width: 40%;
}

.titulo__texto {
  font-size: 1.5rem;
}

.app__cronometro {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70%;
  margin: auto;
  font-size: 2rem;
  font-weight: 700;
}

.app__cronometro div {
  padding: 1rem;
}

.app__cronometro p {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .app {
    padding: 3rem 2rem;
    margin-top: 8rem;
  }

  .app__titulo {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .titulo__imagem {
    width: 20%;
  }

  .titulo__texto {
    font-size: 2.5rem;
  }

  .app__cronometro {
    font-size: 4rem;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
